name: Publish Docker image
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@master
      - name: Define variables
        id: var
        shell: bash
        run: |
          echo "GIT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
          echo "GIT_BRANCH=${GITHUB_REF:11}" >> $GITHUB_ENV
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ secrets.DOCKER_REPOSITORY }}:amd64-${{ env.GIT_BRANCH }}-${{ env.GIT_SHA }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Push to Docker Hub ARM64
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile.arm64
          platforms: linux/arm64
          push: true
          tags: ${{ secrets.DOCKER_REPOSITORY }}:arm64-${{ env.GIT_BRANCH }}-${{ env.GIT_SHA }}
