name: Docker Image CI/CD
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@master
      - name: test
        run: dpkg --print-architecture && env
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ${{ secrets.DOCKER_REPOSITORY }}: amd64-${{GITHUB_REF:11}}-${{GITHUB_SHA::7}}
      - name: Push to Docker Hub arm64
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile.arm64
          platforms: linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKER_REPOSITORY }}: arm64-${{GITHUB_REF:11}}-${{GITHUB_SHA::7}}
